@*@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager*@

@{
    ViewData["Title"] = "Admin Page";
    List<Theme> themes = ViewBag.Themes;
}
@model List<UserViewModel>

<div class="row">
    <div class="col-md-8">
        <h1>Users</h1>
        @if (@Model.Count > 0)
        {
            <form asp-controller="Admin">
                <div class="d-flex align-items-center m-2">
                    <button class="btn btn-danger" asp-action="DeleteUser" type="submit"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-warning mx-2" asp-action="BlockUser" type="submit"><i class="fa fa-lock"></i></button>
                    <button class="btn btn-success" asp-action="UnblockUser" type="submit"><i class="fa fa-unlock-alt"></i></button>
                    <button class="btn btn-success mx-2" asp-action="GrantAdmin" type="submit">Grant admin</button>
                    <button class="btn btn-warning" asp-action="RevokeAdmin" type="submit">Revoke admin</button>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 8%"><input type="checkbox" id="mainSwitcher" /></th>
                            <th style="width: 22%">Name</th>
                            <th style="width: 33%">Email</th>
                            <th style="width: 17%">Status</th>
                            <th style="width: 20%">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td><input type="checkbox" name="userId" value="@user.Id" /></td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>
                                    @if (user.IsBlocked)
                                    {
                                        <div class="text-danger">blocked</div>
                                    }
                                    else
                                    {
                                        <div class="text-success">active</div>
                                    }
                                </td>
                                <td>
                                    @foreach (var role in @user.Roles)
                                    {
                                        <div>@role</div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
        else
        {
            <p>There is no users yet</p>
        }
    </div>

    <div class="col-md-4">
        <br /><br />
        <h1>Themes</h1>
        @if (@themes.Count == 0)
        {
            <p>There's no themes yet</p>
        }
        <table class="table">
            @if (@themes.Count > 0)
            {
                @foreach (var theme in themes)
                {
                    <tr>
                        <form asp-controller="Admin">
                            <input type="hidden" name="themeName" value="@theme.Name" />
                            <td style="width: 78%">@theme.Name</td>
                            <td style="width: 22%"><button class="btn btn-danger" asp-action="DeleteTheme" type="submit"><i class="fa fa-trash"></i></button></td>
                        </form>
                    </tr>
                }
            }
            <tr>
                <form asp-controller="Admin">
                <td><input type="text" class="form-control" name="theme" /></td>
                <td><button class="btn btn-success" asp-action="AddTheme" type="submit"><i class="fa fa-plus"></i></button></td>
                </form>
            </tr>
        </table>
    </div>

</div>