<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @l["MyWebsite"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link id="theme" rel="stylesheet" href="~/css/standart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToyCollection.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <select id="cultureList">
                        <option value="en">EN</option>
                        <option value="ru">RU</option>
                    </select>

                    <select id="themeList">
                        <option value="standart">@l["Gray"]</option>
                        <option value="pink">@l["Pink"]</option>
                        <option value="dark">@l["Dark"]</option>
                    </select>

                    <ul class="navbar-nav flex-grow-1">
                        @if(User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin">@l["Admin"]</a>
                            </li>
                        }
                        @if(User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Collections" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">@l["PersonalPage"]</a>
                            </li>
                        }
                    </ul>

                    <input placeholder=@l["Search"] id="search" />
                    <button type="button" id="searchButton" class="btn btn-success"><i class="fa fa-search"></i></button>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $('#searchButton').click(function () {
        var searchString = $('#search').val();
        window.location.href = `/Home/Search?searchString=${searchString}`;
    });

    $(document).ready(function () {
        var theme = getCookie("theme");
        if (theme) setTheme(theme);
        $("#themeList").val(theme);
        var culture = getCookie(".AspNetCore.Culture").substring(4, 6);
        $("#cultureList").val(culture);
    });
    
    $("#cultureList").change(function () {
        var culture = $(this).val();
        $.ajax({
            url: '/Home/SetLanguage',
            type: 'POST',
            data: {culture: culture},
            success: function (result) { console.log(`language ${culture}.`); window.location.reload(); },
            error: function () {console.log('Error changing language.');}
        });
    });

    $("#themeList").change(function () {
        var theme = $(this).val();
        console.log(theme);
        setTheme(theme);
        setCookie("theme", theme, 30);
    });

    function setTheme(theme) {
        var newCss = "/css/" + theme + ".css";
        $("#theme").attr("href", newCss);
    }

    function setCookie(name, value, days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        document.cookie = `${name}=${value}; expires=${date.toUTCString()}; path=/`;
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        for (var c of document.cookie.split(';')) {
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }
</script>