@{
    List<Theme> themes = ViewBag.Themes;
    List<Collection> collections = ViewBag.Collections;
    UserModel user = ViewBag.User;

    List<string> customFields = new() { 
        "CustomString1", "CustomString2", "CustomString3",
        "CustomInt1", "CustomInt2", "CustomInt3", 
        "CustomText1", "CustomText2", "CustomText3", 
        "CustomBool1", "CustomBool2", "CustomBool3", 
        "CustomDate1", "CustomDate2", "CustomDate3" };

    ViewData["Title"] = l["MyCollections"];
}

<h1>@l["CollectionsOfUser"] - @user.UserName</h1>
@if (@collections.Count == 0)
{
    <p>@l["NoCollections"]</p>
}

<input class="form-control" id="myInput" type="text" placeholder="@l["Search"]">
<br />
<table class="table sortable">
    <thead>
        <tr>
            <th style="width: 10%" data-defaultsort='disabled'>@l["Image"]</th>
            <th style="width: 10%">@l["Name"]</th>
            <th style="width: 20%">@l["Description"]</th>
            <th style="width: 10%">@l["Theme"]</th>
            <th style="width: 43%" data-defaultsort='disabled'>@l["CustomFields"]</th>
            <th style="width: 7%" data-defaultsort='disabled'>@l["Actions"]</th>
        </tr>
    </thead>
    <tbody>
        @if (@collections.Count > 0)
        {
            @foreach (var collection in collections)
            {
                <tr class="searchable">
                    <td>
                        @{
                            string url = (collection.ImageUrl != null) ? collection.ImageUrl : "/bear.png";
                        }
                        <div style="aspect-ratio:1"><img src="@url" id="pic-@collection.Id" class="collectionPic" /></div>
                        <a href="/User/Items?collectionId=@collection.Id">@l["EditItems"]</a>
                    </td>
                    <td>
                        <a href="/Home/Collection?collectionId=@collection.Id"><span class="editable">@collection.Name</span></a>
                        <input type="text" class="form-coll" value="@collection.Name" style="display:none;" />
                    </td>
                    <td>
                        <span class="editable">@collection.Description</span>
                        <textarea type="text" class="text-coll" style="display:none;">@collection.Description</textarea>
                    </td>
                    <td>
                        <span class="editable">@collection.Theme</span>
                        <select name="theme" required style="display:none;" value="@collection.Theme">
                            @foreach (var theme in themes)
                            {
                                <option value="@theme.Name">@theme.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <div>@l["String"]: </div>
                                <div>@l["Number"]: </div>
                                <div>@l["Text"]: </div>
                                <div>@l["YesNo"]: </div>
                                <div>@l["Date"]: </div>
                            </div>
                            <div class="row col-md-9">
                                @foreach (var field in customFields)
                                {
                                    <div class="editable col-md-4">@collection[@field]</div>
                                    <input type="text" class="form-coll-custom col-md-4" value="@collection[@field]" style="display:none;" />
                                }
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="hidden" name="collectionId" value="@collection.Id" />
                        <button class="btn btn-warning edit-collection"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-success save-changes" style="display:none;"><i class="fa fa-check"></i></button>
                        <button class="btn btn-danger delete-collection"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        }
        @*--------Create new---------*@
        <tr data-disablesort='true'>
            <form asp-controller="User">
            <td><input type="hidden" name="UserId" value="@user.Id" /></td>
            <td><input type="text" name="Name" placeholder="Name" class="form-coll" required /></td>
            <td><textarea type="text" name="Description" placeholder="Description" class="text-coll" required></textarea></td>
            <td>
                <select name="Theme" required>
                    <option value="">@l["Theme"]</option>
                        @foreach (var theme in themes)
                        {
                        <option value="@theme.Name">@theme.Name</option>
                        }
                </select>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-3">
                        <div>@l["String"]: </div>
                        <div>@l["Number"]: </div>
                        <div>@l["Text"]: </div>
                        <div>@l["YesNo"]: </div>
                        <div>@l["Date"]: </div>
                    </div>
                    <div class="row col-md-9">
                            @foreach (var field in customFields)
                            {
                            <input type="text" class="form-coll-custom col-md-4" name="@field" />
                            }
                    </div>
                </div>
            </td>
            <td><button class="btn btn-success" asp-action="CreateCollection" type="submit"><i class="fa fa-plus"></i></button></td>
            </form>
        </tr>
    </tbody>
</table>


@*--------Modal window---------*@

<div id="upload-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@l["UploadImage"]</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="upload-form" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" accept="image/*">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="upload-button">@l["Upload"]</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@l["Close"]</button>
            </div>
        </div>
    </div>
</div>



<script>
    $('.table').on('click', '.collectionPic', function () {
        var row = $(this).closest('tr');
        var collectionId = row.find('input[name="collectionId"]').val();
        $('#upload-modal').modal('show');
        $('#upload-button').unbind('click').click(function () {
            var formData = new FormData($('#upload-form')[0]);
            $.ajax({
                url: '/User/UploadImage/' + collectionId,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    $('#pic-' + collectionId).attr('src', result);
                    $('#upload-modal').modal('hide');
                },
                error: function () {
                    alert('Error uploading image.');
                }
            });
        });
    });


    $('.table').on('click', '.edit-collection', function () {
        var row = $(this).closest('tr');
        row.find('.editable').hide();
        row.find('input').show();
        row.find('select').show();
        row.find('textarea').show();
        $(this).hide();
        row.find('.save-changes').show();
        row.find('.delete-collection').hide();
    });

    $('.table').on('click', '.save-changes', function () {
        var row = $(this).closest('tr');
        var collectionId = row.find('input[name="collectionId"]').val();
        var name = row.find('input:eq(0)').val();
        var description = row.find('textarea').val();
        var theme = row.find('select').val();
        var customString1 = row.find('input:eq(1)').val();
        var customString2 = row.find('input:eq(2)').val();
        var customString3 = row.find('input:eq(3)').val();
        var customInt1 = row.find('input:eq(4)').val();
        var customInt2 = row.find('input:eq(5)').val();
        var customInt3 = row.find('input:eq(6)').val();
        var customText1 = row.find('input:eq(7)').val();
        var customText2 = row.find('input:eq(8)').val();
        var customText3 = row.find('input:eq(9)').val();
        var customBool1 = row.find('input:eq(10)').val();
        var customBool2 = row.find('input:eq(11)').val();
        var customBool3 = row.find('input:eq(12)').val();
        var customDate1 = row.find('input:eq(13)').val();
        var customDate2 = row.find('input:eq(14)').val();
        var customDate3 = row.find('input:eq(15)').val();

        $.ajax({
            url: '/User/EditCollection',
            type: 'POST',
            data: {
                id: collectionId,
                name: name,
                description: description,
                theme: theme,
                customString1: customString1,
                customString2: customString2,
                customString3: customString3,
                customInt1: customInt1,
                customInt2: customInt2,
                customInt3: customInt3,
                customText1: customText1,
                customText2: customText2,
                customText3: customText3,
                customBool1: customBool1,
                customBool2: customBool2,
                customBool3: customBool3,
                customDate1: customDate1,
                customDate2: customDate2,
                customDate3: customDate3
            },
            success: function () {
                row.find('.editable:eq(0)').text(name);
                row.find('.editable:eq(1)').text(description);
                row.find('.editable:eq(2)').text(theme);
                row.find('.editable:eq(3)').text(customString1);
                row.find('.editable:eq(4)').text(customString2);
                row.find('.editable:eq(5)').text(customString3);
                row.find('.editable:eq(6)').text(customInt1);
                row.find('.editable:eq(7)').text(customInt2);
                row.find('.editable:eq(8)').text(customInt3);
                row.find('.editable:eq(9)').text(customText1);
                row.find('.editable:eq(10)').text(customText2);
                row.find('.editable:eq(11)').text(customText3);
                row.find('.editable:eq(12)').text(customBool1);
                row.find('.editable:eq(13)').text(customBool2);
                row.find('.editable:eq(14)').text(customBool3);
                row.find('.editable:eq(15)').text(customDate1);
                row.find('.editable:eq(16)').text(customDate2);
                row.find('.editable:eq(17)').text(customDate3)
                row.find('.editable').show();
                row.find('input').hide();
                row.find('select').hide();
                row.find('textarea').hide();
                row.find('.save-changes').hide();
                row.find('.edit-collection').show();
                row.find('.delete-collection').show();
            }
        });
    });


    $('.table').on('click', '.delete-collection', function () {
        var row = $(this).closest('tr');
        var collectionId = row.find('input[name="collectionId"]').val();
        $.ajax({
            url: '/User/DeleteCollection',
            type: 'POST',
            data: {collectionId: collectionId},
            success: function () {
                row.remove();
            }
        });
    });
</script>