@{
    string collectionId = ViewBag.CollectionId;
    List<Item> items = ViewBag.Items;
    string collectionName = ViewBag.CollectionName;
    Dictionary<string, string> customFields = ViewBag.CustomFields;
    ViewData["Title"] = "My items";
}

<h1>My items from collection <a href="/User/Index">@collectionName</a></h1>
@if (@items.Count == 0)
{
    <p>You haven't created any items yet</p>
}

<input class="form-control" id="myInput" type="text" placeholder="Search..."><br/>
<table class="table sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            @foreach (var field in customFields)
            {
                <th>@field.Value</th>
            }
            <th data-defaultsort='disabled'>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (@items.Count > 0)
        {
            @foreach (var item in items)
            {
                <tr class="searchable">
                    <td>
                        <span class="editable"><a href="/Home/Item?itemId=@item.Id">@item.Name</a></span>
                        <input type="text" class="ans form-coll" value="@item.Name" style="display:none;" />
                    </td>
                    <td>
                        <span class="editable">@item.Tags</span>
                        <textarea type="text" class="ans text-coll" style="display:none;">@item.Tags</textarea>
                    </td>

                    @foreach (var field in customFields)
                    {
                        <td>
                            @if (field.Key.Contains("String"))
                            {
                                <span class="editable @field.Key">@item[@field.Key]</span>
                                <input type="text" class="ans form-coll" value="@item[@field.Key]" id="@field.Key" style="display:none;" />
                            }
                            @if (field.Key.Contains("Int"))
                            {
                                <span class="editable @field.Key">@item[@field.Key]</span>
                                <input type="number" class="ans form-coll" value="@item[@field.Key]" id="@field.Key" style="display:none;" />
                            }
                            @if (field.Key.Contains("Text"))
                            {
                                <span class="editable @field.Key">@item[@field.Key]</span>
                                <textarea type="text" class="ans text-coll" id="@field.Key" style="display:none;">@item[@field.Key]</textarea>
                            }
                            @if (field.Key.Contains("Bool"))
                            {
                                @if (@item[@field.Key].ToString() == "True")
                                {
                                    <span class="editable @field.Key">Yes</span>
                                    <input type="checkbox" checked class="ans form-coll" value="@item[@field.Key]" id="@field.Key" style="display:none;" />
                                }
                                else
                                {
                                    <span class="editable @field.Key">No</span>
                                    <input type="checkbox" class="ans form-coll" value="@item[@field.Key]" id="@field.Key" style="display:none;" />
                                }
                            }
                            @if (field.Key.Contains("Date"))
                            {
                                <span class="editable @field.Key">@Convert.ToDateTime(item[@field.Key]).ToString("yyyy-MM-dd")</span>
                                <input type="date" class="ans form-coll" value="@Convert.ToDateTime(item[@field.Key]).ToString("yyyy-MM-dd")" id="@field.Key" style="display:none;" />
                            }
                        </td>
                    }
                    <td>
                        <button class="btn btn-warning edit-item"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-success save-changes" style="display:none;"><i class="fa fa-check"></i></button>
                        <form asp-controller="User">
                            <input type="hidden" name="itemId" value="@item.Id" />
                            <button class="btn btn-danger delete-item" asp-action="DeleteItem" type="submit"><i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        }

        <tr data-disablesort='true'>
            <form asp-controller="User">
                <input type="hidden" name="collectionId" value="@collectionId" />
                <td><input type="text" name="Name" placeholder="Name" class="form-coll" required/></td>
                <td><textarea type="text" name="Tags" placeholder="Tags" class="text-coll" required></textarea></td>
                
                @foreach (var field in customFields)
                {
                    <td>
                        @if (field.Key.Contains("String"))
                        {
                            <input type="text" class="form-coll" name="@field.Key" required />
                        }
                        @if (field.Key.Contains("Int"))
                        {
                            <input type="number" class="form-coll" name="@field.Key" required />
                        }
                        @if (field.Key.Contains("Text"))
                        {
                            <textarea type="text" class="text-coll" name="@field.Key" required ></textarea>
                        }
                        @if (field.Key.Contains("Bool"))
                        {
                            <input type="checkbox" class="form-coll" name="@field.Key" />
                        }
                        @if (field.Key.Contains("Date"))
                        {
                            <input type="date" class="form-coll" name="@field.Key" required />
                        }
                    </td>
                }
                <td><button class="btn btn-success" asp-action="CreateItem" type="submit"><i class="fa fa-plus"></i></button></td>
            </form>
        </tr>
    </tbody>
</table>


<script>
    $('.edit-item').click(function () {
        var row = $(this).closest('tr');
        row.find('.editable').hide();
        row.find('.ans').show();
        $(this).hide();
        row.find('.save-changes').show();
        row.find('.delete-item').hide();
    });

    $('.save-changes').click(function () {
        var row = $(this).closest('tr');
        var itemId = row.find('input[name="itemId"]').val();
        var name = row.find('input:eq(0)').val();
        var tags = row.find('textarea').val();//

        var customString1 = row.find('#CustomString1').val();
        var customString2 = row.find('#CustomString2').val();
        var customString3 = row.find('#CustomString3').val();
        var customInt1 = row.find('#CustomInt1').val();
        var customInt2 = row.find('#CustomInt2').val();
        var customInt3 = row.find('#CustomInt3').val();
        var customText1 = row.find('#CustomText1').val();
        var customText2 = row.find('#CustomText2').val();
        var customText3 = row.find('#CustomText3').val();
        var customBool1 = (row.find('#CustomBool1').is(':checked')) ? "on" : "off";
        var customBool2 = (row.find('#CustomBool2').is(':checked')) ? "on" : "off";
        var customBool3 = (row.find('#CustomBool3').is(':checked')) ? "on" : "off";
        var customDate1 = row.find('#CustomDate1').val();
        var customDate2 = row.find('#CustomDate2').val();
        var customDate3 = row.find('#CustomDate3').val();

        $.ajax({
            url: '/User/EditItem',
            type: 'POST',
            data: {
                id: itemId,
                name: name,
                tags: tags,//

                customString1: customString1,
                customString2: customString2,
                customString3: customString3,
                customInt1: customInt1,
                customInt2: customInt2,
                customInt3: customInt3,
                customText1: customText1,
                customText2: customText2,
                customText3: customText3,
                customBool1: customBool1,
                customBool2: customBool2,
                customBool3: customBool3,
                customDate1: customDate1,
                customDate2: customDate2,
                customDate3: customDate3
            },
            success: function () {
                row.find('.editable:eq(0)').text(name);
                //tags
                row.find('.CustomString1').text(customString1);
                row.find('.CustomString2').text(customString2);
                row.find('.CustomString3').text(customString3)               
                row.find('.CustomInt1').text(customInt1);
                row.find('.CustomInt2').text(customInt2);
                row.find('.CustomInt3').text(customInt3);
                row.find('.CustomText1').text(customText1);
                row.find('.CustomText2').text(customText2);
                row.find('.CustomText3').text(customText3);             
                row.find('.CustomBool1').text((customBool1 == "on") ? "Yes" : "No");
                row.find('.CustomBool2').text((customBool2 == "on") ? "Yes" : "No");
                row.find('.CustomBool3').text((customBool3 == "on") ? "Yes" : "No");
                row.find('.CustomDate1').text(customDate1);
                row.find('.CustomDate2').text(customDate2);
                row.find('.CustomDate3').text(customDate3);

                row.find('.editable').show();
                row.find('input').hide();
                row.find('textarea').hide();
                row.find('.save-changes').hide();
                row.find('.edit-item').show();
                row.find('.delete-item').show();
            }
        });
    });
</script>