@{
    List<Item> latest_5_items = ViewBag.Latest_5_Items;
    List<Collection> biggest_5_collections = ViewBag.Biggest_5_Collections;
    List<Tag> tags = ViewBag.Tags;
    ViewData["Title"] = @l["HomePage"];
}

<h1>@l["5LastAddedItems"]:</h1>
<div class="row">
    @if (latest_5_items.Count > 0)
    {
        @foreach (var item in latest_5_items)
        {
            <div style="width:20%">
                <a href="/Home/Item?itemId=@item.Id">
                    <h5>@item.Name</h5>
                </a>
                <h7>
                    <b>@l["Collection"]: </b><a href="/Home/Collection?collectionId=@item.Collection.Id">@item.Collection.Name</a><br />
                    <b>@l["Owner"]: </b>@item.User.UserName<br />
                    <b>@l["Tags"]: </b>
                    @foreach (var tag in item.Tags)
                    {
                        <span class="tagBorder">
                            <a href="/Home/Search?searchString=@tag.Name">@tag.Name</a>
                        </span>
                    }
                </h7>
            </div>
        }
    }
    else
    {
        <h5>@l["ItemNoExist"]</h5>
    }
</div>

<br/><hr />
<h1>@l["5BiggestCollections"]:</h1>
<div class="row">
    @if (biggest_5_collections.Count > 0)
    {
        @foreach (var collection in biggest_5_collections)
        {
            <div style="width:20%">
                <h5><a href="/Home/Collection?collectionId=@collection.Id">@collection.Name</a><br /></h5>
                <h7>
                    <b>@l["Theme"]: </b>@collection.Theme<br/>
                    <b>@l["Owner"]: </b>@collection.User.UserName
                    <div style="aspect-ratio:1"><img src="@collection.ImageUrl" class="collectionPicHome" /></div>
                    @collection.Description<br />
                </h7>
            </div>
        }
    }
    else
    {
        <h5>@l["CollectionNoExist"]</h5>
    }
</div>


<hr />
<h1>@l["Tags"]:</h1>
@if (tags.Count > 0)
{
    @foreach (var tag in tags)
    {
        <span class="tagBorder">
            <a href="/Home/Search?searchString=@tag.Name">@tag.Name</a>
        </span>
    }
}
else
{
    <h5>@l["NoTags"]</h5>
}