@{
    Item item = ViewBag.Item;
    Dictionary<string, string> customFields = ViewBag.CustomFields;
    string? userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    string? userName = User.FindFirstValue(ClaimTypes.Name);
    bool isAuthorised = (User.IsInRole("User") || User.IsInRole("Admin")) ? true : false;

    bool isLiked = false;
    foreach (var like in item.Likes)
    {
        if (like.User.Id == userId)
        {
            isLiked = true;
            break;
        }
    };
    ViewData["Title"] = l["Item"] + $" {item.Name}";
}

<h1>@l["Item"] @item.Name</h1>
<hr/>
@if (@item == null)
{
    <p>@l["ItemNoExist"]</p>
}

<div class="row">
    <div class="col-md-4">
        @{string url = (item.Collection.ImageUrl != null) ? item.Collection.ImageUrl : "/bear.png";}
        <div style="aspect-ratio:1"><img src="@url" id="pic-@item.CollectionId" class="collectionPic" /></div>
    </div>
    <div class="col-md-8 row">
        <table>
            <tr>
                <td class="field">@l["Name"] </td>
                <td class="fvalue">@item.Name</td>
            </tr>
            <tr>
                <td class="field">@l["Tags"] </td>
                <td class="fvalue">@item.Tags</td>
            </tr>@*ДОБАВИТЬ ТЭГИ*@
            @foreach (var field in customFields)
            {
                <tr>
                    <td class="field">@field.Value </td>
                    <td class="fvalue">@item[@field.Key]</td>
                </tr>
            }
            <tr>
                <td class="field">@l["Owner"]: </td>
                <td class="fvalue">@item.User.UserName</td>
            </tr>
            <tr>
                <td class="field">@l["Collection"] </td>
                <td class="fvalue"><a href="/Home/Collection?collectionId=@item.CollectionId">@item.Collection.Name</a></td>
            </tr>
        </table>

        <div class="row">
            <div id="like" class="heart">
                @if (isLiked)
                {
                    <i class="fa fa-heart" id="dislikeButton"></i>
                    <i class="fa fa-heart-o" id="likeButton" style="display:none"></i>
                    <span id="likeCount">@item.Likes.Count</span>
                }
                else
                {
                    <i class="fa fa-heart" id="dislikeButton" style="display:none"></i>
                    <i class="fa fa-heart-o" id="likeButton"></i>
                    <span id="likeCount"> @item.Likes.Count</span>
                }
            </div>
        </div>

        @if (User.IsInRole("Admin") || @item.UserId == userId)
        {
            <a class="btn btn-success" href="/User/Items?collectionId=@item.CollectionId">@l["EditItem"]</a>
        }
    </div>
</div>
<hr/>
<h1>@l["Comments"]:</h1>
<div id="comments">
    @if (item.Comments.Count > 0)
    {
        @foreach (var comment in item.Comments)
        {
            <div class="comment">
                <h5>@comment.User.UserName</h5>
                <h6>@comment.Text</h6>
                <h7><i class="fa fa-calendar-check-o"></i> @comment.Date</h7>
            </div>
        }
    }
    else
    {
        <h3>@l["NoComments"]</h3>
    }
</div>
@if(User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div id="notification" style="display: none">@l["CommentNotification"]</div>
    <input type="text" id="newComment" />
    <button type="button" class="btn btn-success" id="newCommentButton">@l["AddComment"]</button>
}


<div id="login-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@l["MustLogin"]</h4>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">@l["Login"]</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@l["Close"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Comment?itemId=@item.Id").build();
    var _likeCount = 0;

    connection.on("ReceiveComment", function (userName, text, date) {
        var newComment = `<div class="comment">
            <h5>${userName}</h5>
            <h6>${text}</h6>
            <h7><i class="fa fa-calendar-check-o"></i> ${date}</h7>
        </div>`
        $("#comments").append(newComment);
    });

    $("#newCommentButton").click(function() {
        var commentText = $("#newComment").val();
        $("#newComment").val("");
        $("#notification").show();
        setTimeout(() => $("#notification").hide(), 2000);
        var date = new Date().toLocaleString('ru-RU', {
            day: 'numeric',
            month: 'numeric',
            year: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric'
        });
        $.ajax({
            url: '/User/CreateComment',
            type: 'POST',
            data: {
                itemId: "@item.Id",
                userId: "@userId",
                text: commentText,
                date: date
            },
            success: function () {
                connection.invoke("SendComment", "@userName", commentText, date, "@item.Id");
            }
        });
    });

    $("#likeButton").click(function () {
        if ("@isAuthorised" == "False") {
            $('#login-modal').modal('show');
            return;
        }
        $.ajax({
            url: '/User/LikeItem',
            type: 'POST',
            data: {itemId: "@item.Id", userId: "@userId"},
            success: function () {
                $("#likeButton").hide();
                $("#dislikeButton").show();
                _likeCount = _likeCount + 1;
                connection.invoke("ChangeLikeCount", _likeCount, "@item.Id");
                //$("#like").html(`<i class="fa fa-heart" id="dislikeButton"></i>`);
                $("#likeCount").text(_likeCount);
            }
        });
    });

    $("#dislikeButton").click(function () {
        $.ajax({
            url: '/User/DislikeItem',
            type: 'POST',
            data: { itemId: "@item.Id", userId: "@userId" },
            success: function () {
                $("#dislikeButton").hide();
                $("#likeButton").show();
                _likeCount = _likeCount - 1;
                connection.invoke("ChangeLikeCount", _likeCount, "@item.Id");
                //$("#like").html(`<i class="fa fa-heart-o" id="likeButton"></i>`);
                $("#likeCount").text(_likeCount);
            }
        });
    });

    connection.on("ReceiveLikeCount", function (likeCount) {
        _likeCount = likeCount;
        $("#likeCount").text(_likeCount);
    });

    connection.start().then(function () {
        console.log("Connected!");
        _likeCount = @item.Likes.Count;
    }).catch(function (err) {
        console.error(err.toString());
    });
</script>